body {
    font-family:Georgia, 'Times New Roman', Times, serif ;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    overflow-x: hidden;
  }
  
  .product-card {
    width: 100%;
    height: 100%;
    max-width: 600px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: transform 0.3s;
  }
  
  .product-image {
    flex: 1;
    overflow: hidden;
  }
  
  .product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 8px 0 0 8px;
  }
  
  .product-info {
    flex: 1;
    padding: 16px;
    
  }
  
  .product-name {
    font-size: 36px;
    margin-top: 0;
  }
  
  .product-description {
    font-size: 14px;
    color: #666;
  }

  .product-description2 {
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #666;
    
  }
  
  .price {
    display: inline-flex;
    
    font-size: 38px;
    font-weight: bold;
    color: #6da97f;
  }

  .price2{
   display: inline-flex;
   text-decoration: line-through;
   color: #666;
  }
  
  .buy-button { 
    display: block;
    width: 100%;
    padding: 15px 0 15px 0;
    margin-top: 25px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #5F8069;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .buy-button:hover {
    background-color: #405647;
  }

  /* Desktop nézet */
.product-card.desktop-view {
    display: flex;
  }
  
  .product-card.desktop-view .product-image {
    flex: 1;
  }
  
  .product-card.desktop-view .product-info {
    flex: 1;
    padding: 16px;
  }

  
 /* Mobile nézet */

@media (min-width: 768px) {
    .product-card {
        flex-direction: row;
    }
}

@media (max-width: 600px) {
    .product-card {
      flex-direction: column;
      height: auto; /* A .product-card div magassága automatikusan igazodik a tartalomhoz */
    }

    .product-card-zoomed {
        transform: scale(1.2); /* Ki zoomolás 20%-kal */
    transform-origin: top center; /* A felső középpontnál történik a transzformáció */
    }
  
    .product-card .product-image {
      order: -1; /* A kép megjelenik először a mobil nézetben */
      border-radius: 8px 8px 0 0;
      max-height: 500px; /* A kép maximális magassága mobil nézetben */
    }
  
    .product-card .product-info {
      flex: 1;
      padding: 16px;
      width: 100%;
      margin: 16px; /* Térköz a product info körül */
    }
  
    /* Responsiveness a kép méretéhez mobil nézetben */
    .product-image img {
      width: 100%; /* A kép a tartózó div szélességének megfelelően változik */
      height: 100%; /* A kép teljesen kitölti a tartózó div magasságát */
      object-fit: cover; /* A kép arányosan kitölti a tartózó div-et, megtartva a képarányt */
      object-position: center; /* Kép középre igazítása, ha nem tölti ki teljesen */
    }
  }